
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/customview-map.txt
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/162/jl/flat/layout_flyoutcontent.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/162/jl/flat/layout_shellcontent.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/162/jl/res/layout/flyoutcontent.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/162/jl/res/layout/shellcontent.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/163/jl/flat/layout_tabbar.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/163/jl/res/layout/tabbar.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/163/jl/res/values/attrs.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/163/jl/res/values/styles.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/flat/layout_drawer_layout.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/flat/layout_fragment_backstack.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/flat/layout_navigationlayout.xml.flat
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/res/layout/drawer_layout.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/res/layout/fragment_backstack.xml
TheCuriousCreative2/TheCuriousCreative2/obj/Debug/net6.0-android/lp/165/jl/res/layout/navigationlayout.xml
TheCuriousCreative2/.vs/TheCuriousCreative2/xs/UserPrefs.xml
